.heroo {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #bb6dff, #9e2eff, #8800ff, #665deb);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  .wrapperr {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }

  .imageContainer {
    margin-bottom: 20px;
  }

  .imageContainer img {
    width: 50%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }

  .textContainer {
    margin-bottom: 50px;
  }

  .textContainer h1 {
    font-size: 55px;
    color: #ffffff;
    margin-bottom: 27px;
  }

  @media (max-width: 768px) {
    .textContainer h1 {
      font-size: 35px;
    }
  }

  .textContainer p {
    font-size: 20.2px;
    color: #ffffff;
    line-height: 1.6;
    max-width: 880px;
  }

  @media (max-width: 768px) {
    .textContainer p {
      font-size: 16px;
    }
  }

  .technologiesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .icons {
      display: flex;
      justify-content: center;
      gap: 22px;
      align-items: center;
      margin-right: 7px;
    }

    .icons svg {
      font-size: 35px;
      color: whitesmoke;
      align-items: center;
      justify-content: center;
      @media (max-width: 768px) {
        font-size: 25px;
      }
    }
  }

  .technologiesContainer h2 {
    font-size: 27px;
    color: #bbfaf9;
    margin-bottom: 10px;
  }

  @media (max-width: 768px) {
    .technologiesContainer h2 {
      font-size: 20px;
    }
  }
}
